<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.killer.demo.modules.main.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.killer.demo.modules.main.model.Menu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="fid" jdbcType="VARCHAR" property="fid"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="level" jdbcType="BIT" property="level"/>
        <result column="order" jdbcType="BIT" property="order"/>
        <result column="intime" jdbcType="TIMESTAMP" property="intime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from menu
    where "id" = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.killer.demo.modules.main.model.Menu">
    insert into menu ("id", "name", "icon", 
      "url", "fid", "level",
      "order", "intime", "updatetime"
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{fid,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{level,jdbcType=BIT}, 
      #{order,jdbcType=BIT}, #{intime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.killer.demo.modules.main.model.Menu">
    update menu
    set "name" = #{name,jdbcType=VARCHAR},
      "icon" = #{icon,jdbcType=VARCHAR},
      "url" = #{url,jdbcType=VARCHAR},
      "fid" = #{fid,jdbcType=VARCHAR},
      "user_id" = #{userId,jdbcType=VARCHAR},
      "level" = #{level,jdbcType=BIT},
      "order" = #{order,jdbcType=BIT},
      "intime" = #{intime,jdbcType=TIMESTAMP},
      "updatetime" = #{updatetime,jdbcType=TIMESTAMP}
    where "id" = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select "id", "name", "icon", "url", "fid", "level", "order", "intime",
    "updatetime"
    from menu
    where "id" = #{id,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select "id", "name", "icon", "url", "fid", "level", "order", "intime",
    "updatetime"
    from menu
  </select>

    <select id="selectfMenusAll" resultMap="BaseResultMap">
        select `id`, `name`, `icon`, `url`, `fid`, `level`, `order`, `intime`,
        `updatetime`
        from menu
        where fid is null
  </select>

    <select id="selectsMenusAll" resultMap="BaseResultMap">
        select `id`, `name`, `icon`, `url`, `fid`, `level`, `order`, `intime`, (select count(`id`) = 0 from menu where `fid` = `id`) hasChildren,
       `updatetime`
        from menu
        where fid = #{fid}
  </select>

    <insert id="addMenu" parameterType="com.killer.demo.modules.main.model.Menu">
        insert into menu (id, name, icon, url, fid, level, `order`, intime, updatetime)
        values (#{id}, #{name}, #{icon}, #{url}, #{fid}, #{level}, #{order}, #{intime}, #{updatetime})
    </insert>
</mapper>