<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.killer.demo.modules.main.dao.OperationMapper">
  <resultMap id="BaseResultMap" type="com.killer.demo.modules.main.model.Operation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="invoke_func" jdbcType="VARCHAR" property="invokeFunc" />
    <result column="order" jdbcType="TINYINT" property="order" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="intime" jdbcType="TIMESTAMP" property="intime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from operation
    where "id" = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByMenuId">
        delete from operation
    where `menu_id` = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.killer.demo.modules.main.model.Operation">
    insert into operation (`id`, `name`, `invoke_func`, 
      `order`, `menu_id`, `intime`, 
      `updatetime`)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{invokeFunc,jdbcType=VARCHAR}, 
      #{order,jdbcType=TINYINT}, #{menuId,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.killer.demo.modules.main.model.Operation">
    update operation
    set "name" = #{name,jdbcType=VARCHAR},
      "invoke_func" = #{invokeFunc,jdbcType=VARCHAR},
      "order" = #{order,jdbcType=TINYINT},
      "menu_id" = #{menuId,jdbcType=VARCHAR},
      "intime" = #{intime,jdbcType=TIMESTAMP},
      "updatetime" = #{updatetime,jdbcType=TIMESTAMP}
    where "id" = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select "id", "name", "invoke_func", "order", "menu_id", "intime", "updatetime"
    from operation
    where "id" = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select "id", "name", "invoke_func", "order", "menu_id", "intime", "updatetime"
    from operation
  </select>
   <select id="selectByMenuId" resultMap="BaseResultMap">
    select `id`, `name`, `invoke_func`, `order`, `menu_id`, `intime`, `updatetime`
    from operation
    where `menu_id` = #{menuId}
  </select>
</mapper>