<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.killer.demo.modules.main.dao.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.killer.demo.modules.main.model.RoleMenu">
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="intime" jdbcType="TIMESTAMP" property="intime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role_menu
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.killer.demo.modules.main.model.RoleMenu">
    insert into role_menu (id, role_id, menu_id, intime,
      updatetime)
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.killer.demo.modules.main.model.RoleMenu">
    update role_menu
    set menu_id = #{menuId,jdbcType=VARCHAR},
      intime = #{intime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select role_id, menu_id, intime, updatetime
    from role_menu
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, menu_id, intime, updatetime
    from role_menu
  </select>
  <select id="selectMenusByUserId" parameterType="java.lang.String">
  </select>
  <select id="selectMenusByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select role_id, menu_id, intime, updatetime
    from role_menu where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByMenuId">
    delete from role_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
</mapper>