<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin pro - 通用后台管理模板系统（单页面专业版）</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<body>
<div id="LAY_app"></div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/views/dist/' //指定 layuiAdmin 项目路径
        , version: '1.2.1'
    }).use(['index', 'element', 'laytpl', 'layim'], function () {
        let layer = layui.layer, admin = layui.admin, layim = layui.layim;

        // 使用的cookie-session机制
        layim.config({

            init: {} //获取主面板列表信息，下文会做进一步介绍

            //获取群员接口（返回的数据格式见下文）
            ,members: {
                url: '' //接口地址（返回的数据格式见下文）
                ,type: 'get' //默认get，一般可不填
                ,data: {} //额外参数
            }

            //上传图片接口（返回的数据格式见下文），若不开启图片上传，剔除该项即可
            ,uploadImage: {
                url: '' //接口地址
                ,type: 'post' //默认post
            }

            //上传文件接口（返回的数据格式见下文），若不开启文件上传，剔除该项即可
            ,uploadFile: {
                url: '' //接口地址
                ,type: 'post' //默认post
            }
            //扩展工具栏，下文会做进一步介绍（如果无需扩展，剔除该项即可）
            ,tool: [{
                alias: 'code' //工具别名
                ,title: '代码' //工具名称
                ,icon: '&#xe64e;' //工具图标，参考图标文档
            }]

            ,msgbox: layui.cache.dir + 'css/modules/layim/html/msgbox.html' //消息盒子页面地址，若不开启，剔除该项即可
            ,find: layui.cache.dir + 'css/modules/layim/html/find.html' //发现页面地址，若不开启，剔除该项即可
            ,chatLog: layui.cache.dir + 'css/modules/layim/html/chatlog.html' //聊天记录页面地址，若不开启，剔除该项即可
        });
    });
</script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!--有关im系统的渲染需要放到最后面执行-->
<script src="/static/js/sockjs.min.js"></script>
<script>
    var sock = new SockJS('http://localhost:443/wsclient');
    sock.onopen = function() {
        var msg = new Message("identity", "client",  "server", "identity");
        // 为什么一定要传数组，还必须是字符串数组
        var msgs = [];
        msgs.push(JSON.stringify(msg));
        sock.send(JSON.stringify(msgs));
    };
    sock.onmessage = function(e) {
        console.info('message', e.data);
    };
    sock.onclose = function() {
        layui.layer.msg({

        });
    };

    class Message {
        constructor(type, from, target, content) {
            this.type = type;
            this.from = from;
            this.target = target;
            this.content = content;
        }
    }
</script>
</body>
</html>


